html, body {
  background: #eee;
}

html .navbar-inverse, html .navnar-nav, body .navbar-inverse, body .navnar-nav {
  background: #fff;
  border: none;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.75);
}

html .navbar-inverse li a, html .navnar-nav li a, body .navbar-inverse li a, body .navnar-nav li a {
  color: #000;
}
