<div class="row" style="margin-top:40px">
  <div class="col-sm-3" style="background:red">
    <div class="row">
      <div class="profile-header">
        <img class="" src="https://scontent.ftxl1-1.fna.fbcdn.net/v/t1.0-9/14681756_1122292061192696_7721039396491126720_n.jpg?oh=b33f5154e2523dc3859ab4e3016061f8&oe=592A3FC0" alt="" height="150px">
        <p>{{main.user.profile.name}}</p>
      </div>
    </div>
    <div class="row"></div>
  </div>
  <div class="col-sm-8">
    <div class="post_babbel">
      <input type="text" name="" value="">
      <button type="button" name="button"></button>
    </div>
  </div>
  <div class="col-sm-1">

  </div>
</div>
